* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft Yahei", sans-serif;
}

body{
    overflow: auto;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./background.jpg");
    background-size: 100% 100%;

    background-attachment: fixed;
    height: 150vh;
}

/* #background {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

#background img {
    max-width: 100%;
    height: 200vh;
    opacity: 0.8;

} */

header {
    /* background-color: rgba(0, 0, 0, 0.8); */
    z-index: 10000;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 30 px 100 px;
}

header .logo {
    position: relative;
    padding: 20px 50px;
}

header .logo a{
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
}

header ul li {
    position: relative;
    list-style: none;
    margin-right: 30px;
}

header ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

header ul li a:hover{
    color:rgb(160, 182, 189);
}


.dataVisCore {
    margin:auto;
    position: relative;
    width: 100vw;
    min-height : 100vh; 
}

.dataVisCore .chartContainer {
    margin-top: 10vh;
    position: relative;
    /* left: 10%;
    top: 10vh; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 100vh;
}

.dataVisCore #chartContainer {
    margin-top: 10vh;
    position: relative;
    /* left: 10%;
    top: 10vh; */
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 100vh;
}
.dataVisCore .chartContainer .chart {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    background-position: center;

    animation-name: contentAppear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-delay: 1s;
}

/* .dataVisCore .chartContainer .chart-country{
    height: 70vh;
} */
@keyframes contentAppear {
    from{opacity: 0;}
    to{opacity: 1;}
}
.chartContainer .svg {
    position: relative;
}

.pageGuide {
    display: block;
    margin: auto;
    padding: 10px;
    position: relative;
    width: 80%;
    height: auto;

    animation-name: contentAppear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-delay: 3s;
}

.pageGuide h2{
    padding-top: 1em;
    text-align: center;
    padding-bottom: 1em;
}
.pageGuide p{
    font-size: 1em;
    padding-bottom: 1em;
}

.controls {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: contentAppear;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-delay: 1s;
    z-index: 1000;
}

.controls li{
    position: relative;
    width: 50%;
    height:40px;
    background: transparent;
    /* border-left: 3px solid #494b4a; */
    /* border-top: 1px solid #494b4a; */
    /* border-bottom: 3px solid #494b4a; */
    list-style: none;
    cursor: pointer;

    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.controls li:hover{
    background: #494b4a;
    color: #fff;
}

.glassmorphic-element{
    
    border-radius: 25px;

    background:rgba(255,255,255,0.65);
    /* this property gives it a backgrounnd blur */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.tooltip{
    overflow: auto;
    border-radius: 15%;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    z-index: 100;
    background:rgba(255,255,255,0.8);
    min-height: 30vh;
    min-width: 25vw;
    padding: 10px;
}

.tooltip .tooltip-title {
    padding-top: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}
.tooltip .tooltip-button{
    border-radius: 25%;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    background-color: transparent;
    width: 25px;
    height: 25px;
    cursor: pointer;

    position: relative;
    display: block;
    margin:auto;
}
.tooltip .tooltip-button:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
.tooltip ul {
    padding-top:1vmin;
    justify-content: space-around;
    position: relative;
    display: flex;
}

.tooltip ul li {
    position: relative;
    list-style: none;
    max-width:15vw;
    max-height:20vh;
    margin:auto;
}

.tooltip ul li .tooltip-mtitle{
    position: absolute;
    padding-top: 1vmin;
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    width: 100%;
    height: fit-content;
    word-wrap: normal;
}

.tooltip ul li .tooltip-image img{
    display: block;
    position: relative;
    border-radius: 8px;
    max-width:15vw;
    max-height:20vh;
    width: auto;
    height:auto;
    margin: auto;
    object-fit: contain;
}
/* 
.tooltip #tooltip-5{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%); 
} */

.lArrowContainer{
    position: fixed;
    top: 50%;
    width: 160px;
    height:80px;
    left: 10px;
}
.arrow--left {
    cursor: pointer;
    display: block;
    align-items: flex-start;

    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 30px;
    display: block;
    border: solid #fff;
    border-width: 3px 3px 0 0;

    transform: rotate(-135deg);
    transition: left 2s;
}

.lArrowContainer span {
    position: absolute;
    left: 30px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    font-size: 1em;
    color: #fff;
    opacity: 0;
    transition: opacity 2s;
    cursor:pointer;
}

.lArrowContainer:hover span {
    opacity: 1;   
}
.lArrowContainer:hover .arrow--left {
    left: 10px;
}


.rArrowContainer{
    position: fixed;
    top: 50%;
    width: 160px;
    height:80px;
    right: 10px;
}
.rArrowContainer .arrow--right {
    cursor: pointer;
    display: block;
    align-items: flex-start;
    

    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border: solid #fff;
    border-width: 3px 3px 0 0;

    right: 30px;
    transform: rotate(45deg);
    transition: right 2s;

    text-align: right;
}

.rArrowContainer span {
    position: absolute;
    text-transform: uppercase;
    right: 30px;
    display: block;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    opacity: 0;
    transition: opacity 2s;
    cursor:pointer;
}

.rArrowContainer:hover span {
    opacity: 1;   
}
.rArrowContainer:hover .arrow--right {
    right: 10px;
}
  
